In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2022-07-24 18:00:10,-46.6000,168.3333,33.80,87,27,4.72
1,1,Mataura,NZ,2022-07-24 17:55:18,-46.1927,168.8643,33.48,98,14,2.51
2,2,Kabalo,CD,2022-07-24 18:00:11,-6.0500,26.9167,83.19,33,19,4.50
3,3,Saint-Philippe,RE,2022-07-24 17:57:29,-21.3585,55.7679,69.22,81,60,11.48
4,4,Hobart,AU,2022-07-24 17:55:03,-42.8794,147.3294,45.27,93,63,5.75

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
# To remove the negative temperatures we can use a for loop to iterate through the max_temp and add the temperatures that are greater than 0 Â°F to a new list.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Kabalo,CD,2022-07-24 18:00:11,-6.0500,26.9167,83.19,33,19,4.50
5,5,Zhangye,CN,2022-07-24 17:56:44,38.9342,100.4517,77.94,28,1,4.81
6,6,Bongandanga,CD,2022-07-24 18:00:12,1.5000,21.0500,78.12,69,48,1.95
7,7,Broome,US,2022-07-24 17:55:37,42.2506,-75.8330,88.16,66,60,8.01
9,9,Niquelandia,BR,2022-07-24 18:00:13,-14.4739,-48.4597,89.87,20,8,8.32
13,13,Ribeira Grande,PT,2022-07-24 17:55:18,38.5167,-28.7000,77.40,83,40,11.50
15,15,Merrill,US,2022-07-24 18:00:14,45.1805,-89.6835,76.62,57,40,16.11
18,18,Kapaa,US,2022-07-24 17:55:24,22.0752,-159.3190,80.58,76,40,13.80
25,25,Puerto Ayora,EC,2022-07-24 17:55:27,-0.7393,-90.3518,80.56,86,41,7.00
29,29,Atuona,PF,2022-07-24 17:55:22,-9.8000,-139.0333,76.71,68,68,17.90

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
preferred_cities_df.count()

City_ID       193
City          193
Country       193
Date          193
Lat           193
Lng           193
Max Temp      193
Humidity      193
Cloudiness    193
Wind Speed    193
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat","Lng"]].copy()
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2           Kabalo      CD     83.19  -6.0500   26.9167
5          Zhangye      CN     77.94  38.9342  100.4517
6      Bongandanga      CD     78.12   1.5000   21.0500
7           Broome      US     88.16  42.2506  -75.8330
9      Niquelandia      BR     89.87 -14.4739  -48.4597
13  Ribeira Grande      PT     77.40  38.5167  -28.7000
15         Merrill      US     76.62  45.1805  -89.6835
18           Kapaa      US     80.58  22.0752 -159.3190
25    Puerto Ayora      EC     80.56  -0.7393  -90.3518
29          Atuona      PF     76.71  -9.8000 -139.0333

In [34]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #try:
     #   hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    #except (IndexError):
     #   print("Hotel not found... skipping.")
    
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Kabalo,CD,83.19,-6.0500,26.9167,
5,Zhangye,CN,77.94,38.9342,100.4517,Zhangye Lvzhou Holiday Inn
6,Bongandanga,CD,78.12,1.5000,21.0500,
7,Broome,US,88.16,42.2506,-75.8330,Chenango Valley State Park
9,Niquelandia,BR,89.87,-14.4739,-48.4597,Hotel SuinÃ£
13,Ribeira Grande,PT,77.40,38.5167,-28.7000,Quinta da Meia Eira
15,Merrill,US,76.62,45.1805,-89.6835,Prairie Motel
18,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
25,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
29,Atuona,PF,76.71,-9.8000,-139.0333,Villa Enata

In [36]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))