## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Saldanha,-33.0117,17.9442,clear sky,60.85,91,0,12.57,ZA,2022-07-28 16:39:59
1,1,Takoradi,4.8845,-1.7554,overcast clouds,77.90,74,91,14.50,GH,2022-07-28 16:39:59
2,2,Mayumba,-3.4320,10.6554,broken clouds,72.61,76,79,5.97,GA,2022-07-28 16:39:59
3,3,Qaanaaq,77.4840,-69.3632,clear sky,39.96,70,9,1.19,GL,2022-07-28 16:40:00
4,4,Albany,42.6001,-73.9662,scattered clouds,88.57,61,26,1.01,US,2022-07-28 16:39:35

In [3]:
city_data_df.count()

City_ID                669
City                   669
Lat                    669
Lng                    669
Current Description    669
Max Temp               669
Humidity               669
Cloudiness             669
Wind Speed             669
Country                666
Date                   669
dtype: int64

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria (6.5.3)
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Takoradi,4.8845,-1.7554,overcast clouds,77.90,74,91,14.50,GH,2022-07-28 16:39:59
6,6,Jamestown,42.0970,-79.2353,light rain,78.53,82,100,10.36,US,2022-07-28 16:40:01
7,7,Belgrade,44.8040,20.4651,clear sky,83.86,39,0,4.61,RS,2022-07-28 16:35:03
14,14,Hilo,19.7297,-155.0900,clear sky,77.29,82,0,8.05,US,2022-07-28 16:40:04
24,24,Izumo,35.3667,132.7667,scattered clouds,78.75,91,31,5.32,JP,2022-07-28 16:40:09
25,25,Bubaque,11.2833,-15.8333,overcast clouds,80.73,77,86,12.93,GW,2022-07-28 16:40:10
27,27,Sao Filipe,14.8961,-24.4956,scattered clouds,80.56,75,25,12.55,CV,2022-07-28 16:40:11
34,34,Abiramam,9.4667,78.4500,overcast clouds,83.08,72,98,9.44,IN,2022-07-28 16:40:16
38,38,Jiazi,22.8779,116.0670,overcast clouds,83.64,84,100,3.33,CN,2022-07-28 16:40:18
41,41,Salalah,17.0151,54.0924,broken clouds,77.09,88,75,5.75,OM,2022-07-28 16:40:19

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.copy()
clean_df.dropna(how="any", inplace=True)
clean_df

,City_ID,City,Lat,Lng,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Takoradi,4.8845,-1.7554,overcast clouds,77.90,74,91,14.50,GH,2022-07-28 16:39:59
6,6,Jamestown,42.0970,-79.2353,light rain,78.53,82,100,10.36,US,2022-07-28 16:40:01
7,7,Belgrade,44.8040,20.4651,clear sky,83.86,39,0,4.61,RS,2022-07-28 16:35:03
14,14,Hilo,19.7297,-155.0900,clear sky,77.29,82,0,8.05,US,2022-07-28 16:40:04
24,24,Izumo,35.3667,132.7667,scattered clouds,78.75,91,31,5.32,JP,2022-07-28 16:40:09
...,...,...,...,...,...,...,...,...,...,...,...
656,656,Pontianak,-0.0333,109.3333,broken clouds,75.40,95,69,1.86,ID,2022-07-28 16:56:58
658,658,Sigli,5.3848,95.9609,overcast clouds,78.35,84,89,3.02,ID,2022-07-28 16:58:14
661,661,Hasaki,35.7333,140.8333,overcast clouds,79.20,90,95,8.61,JP,2022-07-28 16:58:15
664,664,Ligayan,4.6533,119.4706,scattered clouds,83.88,68,46,3.51,PH,2022-07-28 16:58:17
667,667,Rock Springs,41.5875,-109.2029,clear sky,79.23,42,9,1.99,US,2022-07-28 16:58:18

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Takoradi,GH,77.90,overcast clouds,4.8845,-1.7554,
6,Jamestown,US,78.53,light rain,42.0970,-79.2353,
7,Belgrade,RS,83.86,clear sky,44.8040,20.4651,
14,Hilo,US,77.29,clear sky,19.7297,-155.0900,
24,Izumo,JP,78.75,scattered clouds,35.3667,132.7667,
25,Bubaque,GW,80.73,overcast clouds,11.2833,-15.8333,
27,Sao Filipe,CV,80.56,scattered clouds,14.8961,-24.4956,
34,Abiramam,IN,83.08,overcast clouds,9.4667,78.4500,
38,Jiazi,CN,83.64,overcast clouds,22.8779,116.0670,
41,Salalah,OM,77.09,broken clouds,17.0151,54.0924,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    # Grab the first hotel from the results and store the name.
hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Takoradi,GH,77.90,overcast clouds,4.8845,-1.7554,Raybow International Hotel
6,Jamestown,US,78.53,light rain,42.0970,-79.2353,Hampton Inn & Suites Jamestown
7,Belgrade,RS,83.86,clear sky,44.8040,20.4651,Saruna Wellness - Hotel Park Belgrade
14,Hilo,US,77.29,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
24,Izumo,JP,78.75,scattered clouds,35.3667,132.7667,Toyoko-Inn Izumoshi ekimae
...,...,...,...,...,...,...,...
656,Pontianak,ID,75.40,broken clouds,-0.0333,109.3333,Aston Pontianak Hotel & Convention Center
658,Sigli,ID,78.35,overcast clouds,5.3848,95.9609,Losmen Dua Mali
661,Hasaki,JP,79.20,overcast clouds,35.7333,140.8333,Inubosaki Kanko Hotel
664,Ligayan,PH,83.88,scattered clouds,4.6533,119.4706,
667,Rock Springs,US,79.23,clear sky,41.5875,-109.2029,Homewood Suites by Hilton Rock Springs

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how="any")
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Takoradi,GH,77.90,overcast clouds,4.8845,-1.7554,Raybow International Hotel
6,Jamestown,US,78.53,light rain,42.0970,-79.2353,Hampton Inn & Suites Jamestown
7,Belgrade,RS,83.86,clear sky,44.8040,20.4651,Saruna Wellness - Hotel Park Belgrade
14,Hilo,US,77.29,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
24,Izumo,JP,78.75,scattered clouds,35.3667,132.7667,Toyoko-Inn Izumoshi ekimae
...,...,...,...,...,...,...,...
656,Pontianak,ID,75.40,broken clouds,-0.0333,109.3333,Aston Pontianak Hotel & Convention Center
658,Sigli,ID,78.35,overcast clouds,5.3848,95.9609,Losmen Dua Mali
661,Hasaki,JP,79.20,overcast clouds,35.7333,140.8333,Inubosaki Kanko Hotel
664,Ligayan,PH,83.88,scattered clouds,4.6533,119.4706,
667,Rock Springs,US,79.23,clear sky,41.5875,-109.2029,Homewood Suites by Hilton Rock Springs

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the templa
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# Make a map
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))